:root{
  --primaryFont: "Raleway", sans-serif;
  --secondaryFont: "Bitter", serif;

  --linkColor: rgb(74, 213, 255);
  --hoverLinkColor: #cbc7ff;
}

html{
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: var(--primaryFont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--linkColor);
  transition: all 0.5s ease-out;
}

a:hover {
  color: var(--hoverLinkColor);
}

#lista li{
  transition: all 0.5s ease;
}

#lista li:hover{
  font-size: 1.5rem;
}

.raleway-normal {
  font-family: var(--primaryFont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-bold {
  font-family: var(--primaryFont);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.raleway-bold-italic {
  font-family: var(--primaryFont);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.bitter-normal {
  font-family: var(--secondaryFont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bitter-bold {
  font-family: var(--secondaryFont);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 800px;
  object-fit: cover;
}

.bg-dark{
  background-color: var(--bs-body-bg);
}

.text-white{
  color: var(--bs-body-color);
}

.text-blue{
  color: var(--bs-info);
}

.text-blue-emp{
  color: var(--bs-info-text-emphasis);
}