:root{
  --bgColor: rgb(68, 3, 3);
  --bgSecondaryColor: rgb(51, 49, 49);
  --primaryColor: rgba(236, 236, 236, 0.973);
  --secondaryColor: rgba(255, 255, 255, 0.973);
  --primaryFont: "Raleway", sans-serif;
  --secondaryFont: "Bitter", serif;
  --linkColor: rgb(131, 253, 161);
  --hoverLinkColor: #ffffff;
}

html  {
  background-color: var(--bgColor);
  color: var(--primaryColor);
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: var(--primaryFont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img,
video, 
iframe{
  max-width: 100%;
}

table{
  width: 100%;
}

a {
  color: var(--linkColor);
  transition: all 0.5s ease-out;
}

a:hover {
  color: var(--hoverLinkColor);
}

#menu{ 
  background-color: var(--bgSecondaryColor);
  color: var(--secondaryColor);
}

#menu li{
  transition: all 0.5s ease;
}
#menu li:hover{
  font-size: 2rem;
}

#lista li{
  transition: all 0.5s ease;
}

#lista li:hover{
  font-size: 1.5rem;
}

#character-image{
  border-radius: 100%;
  transition: all 0.5s ease;
}

#character-image:hover{
  transform: scale(2);
}

#poster-image{
  border-radius:1rem;
  transition: all 1s ease-out;
}
#poster-image:hover{
  border-radius:1.5rem;
  border: 3px dotted rgb(211, 241, 74);
  transform: scale(1.5);
}
.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.fs-20{
  font-size: 20px;
}

.fs-16{
  font-size: 16px;
}

.raleway-normal {
  font-family: var(--primaryFont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-bold {
  font-family: var(--primaryFont);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.raleway-bold-italic {
  font-family: var(--primaryFont);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.bitter-normal {
  font-family: var(--secondaryFont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bitter-bold {
  font-family: var(--secondaryFont);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.bg-white{
  background-color: azure;
}

.bg-purple{
  background-color: rgb(255, 127, 53);
}

.bg-title{
  background-color: var(--bgSecondaryColor);
}
.color-title{
  color: var(--secondaryColor);
}
.text-gray{
  color:rgb(49, 49, 49);
}
.text-blue{
  color:rgb(24, 24, 170);
}

.box{
  border: 3px solid red;
  padding: 2rem;
  margin: 1rem;
}

.d-block{
  display: block;
}

.d-inline{
  display: inline;
}

.d-none{
  display: none;
}

